<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Suraj">
    <title>Registration</title>
    <link href="/css/bootstrap-5.min.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" href="#page-top">OpenClassRoom</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" href="/plans">Plans</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="/faq">FAQ</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Create HTML registration form -->
<header class="masthead">
    <div class="container-fluid px-5 my-5">
        <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-3">

            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered
                    to our awesome app!</div>
            </div>

            <h1>Registration</h1>

            <form th:action="@{/registration}" method="post"
                  th:object="${userVO}">
                <div class="form-group">
                    <label class="control-label" for="firstName">
                        First Name </label>
                    <input id="firstName" class="form-control"
                           th:field="*{firstName}" required
                           autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastName">
                        Last Name </label> <input id="lastName"
                                                  class="form-control" th:field="*{lastName}"
                                                  required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="email"> Email
                    </label> <input id="email" class="form-control"
                                    th:field="*{email}" required autofocus="autofocus"
                />
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">
                        Password </label> <input id="password"
                                                 class="form-control" type="password"
                                                 th:field="*{password}" required
                                                 autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Register</button>
                    <span>Already registered? <a href="/"
                                                 th:href="@{/login}">Login
                                here</a></span>
                </div>
            </form>
        </div>
    </div>
</header>
</body>
</html>